*, img, body{ margin: 0; padding: 0; border: 0; }

body{
  font-family: Georgia, Times, 'Times New Roman';
  color: #545454;
  overflow-x: hidden;
  line-height: 20px;
}

header{
  padding: 36px 0 0 0 ;

}

.logo{
  width: 48px;
  opacity: 0.75;
  padding: 0 0 18px 6%;
  margin-left: -10px;
}

.intro{
  padding: 0px 6% 48px 6%;
  background-color: #fff;
  margin: 0 auto;
}

hr{
  height: 0px;
  border-bottom: 1px solid #ddd;
  margin: -1px 0px 24px 0px;
  max-width: 48px;
}

li{
  list-style-type: none;
  margin: 0 0 8px 0;
}

/*type*/
h1{ 
  color: #1a1a1a;
  font-size: 20px;
  padding: 0px 0px 24px 6%;
  font-weight: normal;
  line-height: 24px;
}

h1 i{
  color: #13A4F2;
}

h2{
  font-family: 'Arimo', Arial, Helvetica, Verdana;
  letter-spacing: 1.5px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 24px 0px 24px 0px;
}

p{
  padding: 0px 0px 24px 0px;
  font-size: 15px;
  max-width: 420px;
}

/*links*/

a:active{ outline: none; }
a:focus{ -moz-outline-style: none; outline-style: none; }

p a:link, p a:visited{
  border-bottom: 1px dotted #545454;
  color: #545454;
}

ul a:link, ul a:visited{
  color: #13A4F2;
  border-bottom: 1px dotted #13A4F2;
  padding-bottom: 2px;
  font-family: 'Arimo', Arial, Helvetica, Verdana;
  letter-spacing: 1px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 22px;
}

h2 a:link, h2 a:visited{
  color: #1a1a1a;
  border-bottom: 1px solid #13A4F2;
  padding-bottom: 2px;
}

a:link, a:visited{
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

p a:hover, ul a:hover, h2 a:hover{
  border-bottom: 1px dotted #aaaaaa;
  color: #aaaaaa;
}

.anchorlink:link, .anchorlink:visited {
  background: url('../images/layout/sprite.png') no-repeat top left;
  padding-left: 18px;
  background-position: 0 -106px;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.anchorlink:hover {
  background: url('../images/layout/sprite.png') no-repeat top left;
  background-position: 0 -82px;
}

/*text highlighting*/
::selection{ background: #E8E8E8; color: #13A4F2; } /* Safari */
::-moz-selection{ background: #E8E8E8; color: #13A4F2; } /* Firefox */

/*media queries*/

@media screen and (min-width: 500px) {

body{
  line-height: 22px;
}

header{
  padding: 76px 0 0 0 ;

}

.logo{
  width: 54px;
  padding: 0 0 24px 6%;
}

p{
  line-height: 24px;
}

li{
  margin: 0 0 1px 0;
}

hr{
  margin: 5px 0px 30px 0px;
}


}
